body{
    background-color: antiquewhite;
}

h1{
    position: absolute;
    right: 95px; 
    top: 76px;
}

h3{
    position: absolute;
    right: 60px; 
    top: 390px;
    z-index: 1000;
}



.conversation-container-css{
    position: absolute;
    right: 20px; 
    bottom: 48.5%; 
    transform: translateY(50%);
    width: 25%; 
    height: 620px; 
    background-color:bisque;
    border: 2px dashed black;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    overflow-y: scroll;
    scrollbar-color: bisque rgb(94, 94, 170);
    scrollbar-width: thin;
}


.conversation{
    border: 2px solid black;
    color: black;
    border-radius: 10%;
    height: 18%;
    width: 95%;
    margin: 10px;
    margin-top: 10px;
    padding-top: 5%;
    text-align:center;
}

.messages-container-css{
    position: absolute;
    right: 20px;  
    bottom: 48.8%; 
    transform: translateY(50%);
    width: 25%; 
    height: 620px; 
    background-color:bisque;
    border: 2px dashed black;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    line-height: 2.5;
    overflow-y: scroll;
    scrollbar-color: bisque rgb(94, 94, 170);
    scrollbar-width: thin;
}

#messages-container{
    visibility: hidden;
}

#messageStyle{
    position: absolute;
    right: 20px; 
    top: 12.5%; 
    transform: translateY(50%);
    width: 25%; 
    height: 22px; 
    background-color:bisque;
    border: 2px dashed black;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    background-color:rgb(94, 94, 170);
    padding: 5px;
    visibility: hidden;
}

.message{
    margin-bottom: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.message:hover{
    background-color: rgb(201, 198, 198);
    border: 1px dashed black;
}

#chat{
    position: absolute;
    right: 20px; 
    bottom: 15%; 
    transform: translateY(50%);
    width: 25%; 
    height: 22px; 
    background-color:rgb(94, 94, 170);
    border: 2px dashed black;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    visibility: hidden;
}

#exit{
    color: black;
    background-color: red;
}

#response{
    width: 80%;
}

#send{
    width: 16.1%;
    color: black;
    background-color: bisque;
    border: 2px solid black;
}

.conversation:hover{color: rgb(94, 94, 170);}


#delete_report{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    background-color: bisque;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px dashed black;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.btn {
    position: fixed;
    background-color: transparent;
    position: relative;
    border: none;
    margin: 2%;
}

.btn2{
    position: fixed;
    background-color: transparent;
    position: relative;
    border: none;
    font-size: larger;
    margin: 2%;
}

.btn::after {
    content: 'delete';
    position: absolute;
    top: -130%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    background-color: rgb(168, 7, 7);
    padding: 4px 8px;
    border-radius: 5px;
    transition: .2s linear;
    transition-delay: .2s;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
}

.btn2::after {
    content: 'report';
    position: absolute;
    top: -130%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    background-color: rgb(168, 7, 7);
    padding: 4px 8px;
    border-radius: 5px;
    transition: .2s linear;
    transition-delay: .2s;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
}

.icon {
    transform: scale(1.2);
    transition: .2s linear;
    
}

.btn:hover > .icon {
    transform: scale(1.5);
}

.btn:hover > .icon path {
    fill: rgb(168, 7, 7);
}

.btn:hover::after {
    visibility: visible;
    opacity: 1;
    top: -160%;
}

.btn2:hover {
    transform: scale(1.5);
    color: rgb(168, 7, 7);
}

.btn2:hover::after {
    visibility: visible;
    opacity: 1;
    top: -160%;
}
