body {
    font-family: Arial, sans-serif;
    background-color: #fefdd7;
    text-align: center;
    padding: 20px;
  }
nav a{
    float:left;
    height:50px;
    line-height:33px;
    padding: 0 10px;
    transition: .5s;
    background: #eca562;
    font-family: Arial, sans-serif;
}
nav a:hover{
    background:#be222200;
}
a{
    width:300px;
    border: solid black;
}