@font-face { font-family: Sport; src: url('../accueil/Sport.ttf'); } 
@font-face { font-family: FunnySports; src: url('../accueil/FunnySports.ttf'); } 

body {
 font-family: Arial, sans-serif;
 background-color: antiquewhite;
 text-align: center;
 padding: 20px;
}

h1 {
 color: #333;
 font-family: FunnySports;
 font-weight: lighter;
}

h2 {
 display: inline-block;
 color: #333;
 font-family: FunnySports;
 font-weight: lighter;
}

.global{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.button-container {
    position: fixed;
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    background-color: rgb(94, 94, 170);
    width: 750px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    bisque 5px 10px 15px;
}

.button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
}

.icon {
    font-size: 20px;
}


#court{
 width: 1000px;
 z-index: -1;
 position: absolute;
 margin-top: 0;
}

.container{
 background-color: bisque;
 display:inline-flex;
 align-items: center;
 justify-content: center;
 
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 
 width:1300px;
 height:600px;

 border-radius: 50% 20% / 10% 40%;
 border: 2px dashed black;
 background-color:bisque;
 

}

.vignette{
 display: flex;
 
 margin: 3%;
 align-items: center;
 background-color: rgb(62, 151, 203);
 top: 40%;
 height: 330px;
 width: 250px;
 flex-direction: column;
 border-radius: 30px;
 font-size:large ;
 line-height: 30px;
 left: 2px;
 border: 2px dashed black;
 transition: border 0.5s;

}

@keyframes rotate-border {
    0% {
        border-style: dashed;
        border-width: 5px;
    }
    25% {
        border-style: dotted;
        border-width: 5px;
    }
    50% {
        border-style: solid;
        border-width: 5px;
    }
    75% {
        border-style: double;
        border-width: 5px;
    }
    100% {
        border-style: dashed;
        border-width: 5px;
    }
}
.vignette[border]:hover{
    animation: rotate-border 1s infinite;
}


nav a{
 float:left;
 height:50px;
 line-height:33px;
 padding: 0 10px;
 transition: .5s;
 background: #ec6262;
 font-family: Arial, sans-serif;
}
nav a:hover{
 background:#be222200;
}

a{
 width:300px;
 border: solid black;
}
.inscription{
    position: fixed;
    bottom: 23%;
    margin-bottom: 20px;
    width: 120px;
    background-color: #45a049;
    color:#333;
    font-weight: bold;
    border: solid black 1px;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
p{
    margin:10px;
    justify-content: center;
}

.inscription:hover{
    background-color: darkgreen;
    border: 1px dashed black;
}

#logo{
    position: absolute;
    color : rgb(94, 94, 170);
    font-size: 50px;
    font-family: Sport;
    font-weight: lighter;
    top: 0.2%;
    left: 3%;
}

#logobis{
    position: absolute;
    color : rgb(94, 94, 170);
    font-size: 50px;
    font-family: Sport;
    font-weight: lighter;
    top: 3.7%;
    left: 4%;

}
