.global{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
}

.button-container {
    position: fixed; 
    top: 15px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    background-color: rgb(94, 94, 170);
    width: 750px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    bisque 5px 10px 15px;
}

.button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
}

.icon {
    font-size: 20px;
}
#profilContainer{
    background-color: antiquewhite;
    display:inline-flex;
    align-items: center;
    justify-content: center;
  
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width:1350px;
    height:1500px;
  
    border-radius: 50% 20% / 10% 40%;
    background-color: blanchedalmond;

    flex-wrap: wrap; /* Permet aux éléments de se répartir sur plusieurs lignes */
    gap: 20px; /* Espace entre les éléments */
  
  }
  .vignette{
    display: flex;
    justify-content: center;
    margin: 3px;
    align-items: center;
    background-color: goldenrod;
    top: 40%;
    height: 400px;
    width: 250px;
    flex-direction: column;
    border-radius: 30px;
    font-size:large ;
    line-height: 30px;
    left: 2px;
    box-sizing: border-box; /* Pour inclure le padding dans la largeur et la hauteur */
  }
