body {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 212, 166);
    text-align: center;
    padding: 20px;
  }

.form-container {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
  }
  
form {
    display: inline-block;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 7px 5px 5px black;
    
}

textarea{
    resize:none;
}

label {
    display: block;
    margin-bottom: 5px;
}
  
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: #45a049;
}

nav{
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center;    /* Centre les éléments verticalement */
    height: 50px;           /* Ajustez la hauteur du nav si nécessaire */
}

nav a{
    height:50px;
    line-height:33px;
    padding: 0 10px;
    transition: .5s;
    background: #eca562;
    font-family: Arial, sans-serif;
}
nav a:hover{
    background:#be222200;
}
a{
    width:300px;
    border: solid black;
}

.global{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.button-container {
    position: fixed; 
    top: 15px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    background-color: rgb(94, 94, 170);
    width: 750px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    bisque 5px 10px 15px;
}

.button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
}

.icon {
    font-size: 20px;
}