@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

body{
  background-color: rgb(247, 212, 166);
}

.pfp {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.container{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: 2px dashed black;
    padding: 20px;
    text-align: center;
    background-color: bisque;
    top: 10%;
    left: 15%;
    margin-bottom: 5%;
}

.infos_pseudo{
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
}

hr{
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr::after {
  background: #fff;
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.button_upload , .button_change{
  position: absolute;
  width: 35%;
  padding: 10px;
  background-color: rgb(94, 94, 170);
  color: #fff;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  left: 19.6%;
}

#btn_upload{
  top: 130%;
}

#btn_load{
  top: 134%;
}

#btn_edit{
  top: 138%;
}